{% extends 'base2.html' %} 
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}



    
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content" >

        <strong><h1> Customer</h1></strong>
        <br>
        <form  method="POST" >
            {% csrf_token %}
          <fieldset class= "form-group">
              
              {{ c_form|crispy}}
          </fieldset>

          <div class="form-group"> 
              <button class = "btn btn-success" type="submit">Submit</button>

          </div>
        </form>

        
    </main>
    <br>
    <br>

</body>
</html>

{% block javascripts %}{% endblock javascripts %}


{% endblock content %}
