{% extends 'base2.html' %} 
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

    <main class="content" style= "text-align: center;">

       
        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <strong> Name: {{customer.name}}</strong>
             {{ line }}<br/><br/>
             <strong>Phone Number: {{customer.phone}}</strong>
             {{ line }}<br/><br/>
             <strong>  Email: {{user.email}}</strong>
             {{ line }}<br/><br/>
             <strong> Address: {{customer.address}} ,</strong>
             
                <strong>{{customer.city}},</strong>
             
                    <strong>  {{customer.postalCode}} ,</strong>
             
                <strong>{{customer.state}}</strong>
             {{ line }}<br/><br/>
             {{ line }}<br/><br/>

             <a class="btn btn-primary" style= "margin: 10px;" href="{% url 'profileEdit' %}">Edit</a>
        </form>

        
    </main>
    <br>
    <br>

    <br>
    <br>



<style>
form.form-searchbox {
    width: 80%;
    margin-left: 100px;
}




</style>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->




{% endblock content %}
