{% extends 'base5.html' %} {% block content %}
<style>
    .sidebar-menu a.suppliers {
        background: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: var(--main-color);
        border-radius: 30px 0px 0px 30px;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        border-radius: 5px;
        padding: 10px;
        color: white;
        border: none;
        width: 100px;
    }
</style>
    <div class="container">
        <div style="text-align: center;">
            <h1 style="color: var(--main-color); font-size: 50px; font-weight: bold;">
                SUPPLIER FORM</h1>
            <p style="color: rgb(73, 73, 73); margin-top: -1rem;">Please enter new supplier's information</p>
        </div>

        <div class="form-group">
            <form action="." method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn btn-success">Save</button><a href="../" style="margin-left: 1rem;">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}